.card {
  max-height: 50%;
  aspect-ratio: 10/16;
  border-radius: 10px;
  position: relative;
  @include v-centeritem;
  @include centeritem;

  & > &__content {
    background-color: $color-card-content;
    position: relative;
    border-radius: inherit;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    margin: 2px 1px;
    z-index: 2;
  }

  &::before,
  & > &-border {
    content: "";

    border-radius: inherit;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    opacity: 0;
    transition: opacity 500ms;
  }

  &::before {
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.06),
      transparent 40%
    );
    z-index: 3;
  }

  & > &-border {
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.3),
      transparent 40%
    );
    z-index: 1;
  }

  &:hover::before {
    opacity: 1;
  }
}

.cards:hover > .card > .card-border {
  opacity: 1;
}
