.heading-primary {
  font-family: "oliver", sans-serif;

  font-weight: 900;
  font-style: normal;

  color: $color-white;
  text-transform: uppercase;
  font-size: 14rem;
  line-height: 1.3;
  font-weight: 900;

  text-shadow: 5px 5px 70px rgba(255, 255, 255, 0.5);

  &__span1 {
    display: inline-block;
    animation: moveInLeft 0.5s ease-out;
  }

  &__span2 {
    display: inline-block;
    animation: moveInRight 0.5s ease-out;
  }
}

.heading-secondary {
  font-family: "oliver", sans-serif;
  font-size: 10rem;
  color: $color-white;

  font-weight: 700;
  // background-image: linear-gradient(to right, $color-grad-2, $color-grad-1);

  // -webkit-background-clip: text;
  // letter-spacing: 20px;
  transition: all 0.2s;
}

.heading-tertiary {
  font-family: "oliver", sans-serif;
  color: $color-white;
  font-size: 6rem;
}
