.header {
  width: 100%;
  background-size: cover;
  position: relative;
  height: 100vh;

  &__mask {
    @include mask("../img/bg.jpg");
  }

  &__wrapper {
    // background-color: $color-black;
    background-image: url(../img/Untitled\ design.svg);
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    gap: $space-xl;
    flex-direction: column;
  }

  &__heading {
    position: sticky;
    @include centeritem;
    margin-bottom: $space-m-s;
    text-align: center;
    max-width: 100rem;
    padding: $space-l 0;
  }

  &__info {
    background-color: pink;
    border-radius: 50%;

    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  // &__btnbox {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   gap: 6em;
  //   text-align: center;
  // }
}
