.btn {
  &:link,
  &:visited {
    text-decoration: none;
    position: relative;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    display: block;
    text-align: center;
  }

  // BTN SIZES

  //1. ROUND AND SMALL
  &__round {
    &:link,
    &:visited {
      border-radius: 50;
      padding: $space-s $space-l;
      border: 2px solid $color-white;

      font-size: $font-link-desktop;
      @include respond(laptop) {
        font-size: $font-link-laptop;
      }
      @include respond(tab-land) {
        font-size: $font-link-tab-land;
      }
      @include respond(tab-port) {
        font-size: $font-link-tab-port;
      }
      @include respond(phone) {
        font-size: $font-link-phone;
      }
    }
  }

  // 2. SQUARE AND BIG
  &__square {
    &:link,
    &:visited {
      animation: moveInBottom 0.5s ease;
      padding: $space-s $space-xl;
      border: 2px solid $color-white;

      font-size: $font-body-desktop;

      @include respond(laptop) {
        font-size: $font-body-laptop;
      }
      @include respond(tab-land) {
        font-size: $font-body-tab-land;
      }
      @include respond(tab-port) {
        font-size: $font-body-tab-port;
      }
      @include respond(phone) {
        font-size: $font-body-phone;
      }
    }
  }

  // BUTTON DESIGNS

  // 1. Transparent bg
  &__simple {
    &:link,
    &:visited {
      background-color: transparent;
      background-size: 220%;
      color: $color-white;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );

      transition: all 0.3s ease-in-out;
    }
    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
    }
  }

  // 2. White bg
  &__white {
    &:link,
    &:visited {
      background-image: linear-gradient(
        120deg,
        $color-white 0%,
        $color-white 50%,
        transparent 50%
      );
      color: $color-primary;

      background-size: 220%;

      transition: all 0.3s ease-in-out;
    }
    &:hover,
    &:active {
      background-position: 100%;

      color: $color-white;
    }
  }

  // BUTTON INCREASE SIZE
  &__specialWrapper {
    // @include custom-wrapper-mixin($width-50);
    @include centeritem;

    @include justifyCenter;
    @include alignCenter;

    gap: $space-xl;
    display: flex;
  }

  &__scale {
    transition: all 0.3s;
    &:hover {
      flex-grow: 0.02;
      transform: scale(1.05);
    }
  }
}
