// PROJECT CARDS
.cardD-container {
  display: flex;
  // gap: 10rem;
}

.cardD-wrapper {
  height: 100%;
  width: 100%;
}

@mixin projectCardCustom($brandName, $brandColor, $hue) {
  // Each car
  &,
  .cardD {
    height: 100%;
    width: 100%;
    border: 2px solid rgba($brandColor, 0.8);

    overflow: hidden;
    @include centeritem;
    position: relative;

    &__imgBox {
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      filter: sepia(100%) saturate(250%) brightness(80%) hue-rotate(#{$hue}deg);

      background: linear-gradient(
          rgba($brandColor, 0.4),
          rgba($brandColor, 0.9)
        ),
        url(../img/project/#{$brandName}/card-#{$brandName}.jpg);

      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;

      opacity: 0.7;
    }

    &__contentbox {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &--wrapper {
        width: 100%;
        height: 20%;
      }

      &--imgbox {
        @include centeritem;
        height: 40%;
        transition: all 0.2s ease-out;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 50%;
          transform: translate(-50%, 0);

          background: url(../img/project/#{$brandName}/logo-#{$brandName}.png);
          background-position: center;
          background-repeat: no-repeat;

          background-size: contain;
        }
      }

      &--heading {
        font-size: 3.5rem;

        @include respond(tab-port) {
          font-size: 2.5rem;
        }

        color: $color-white;
        font-weight: 600;
        text-align: center;
        position: relative;
        transition: all 0.3s ease;
        text-shadow:
          0 0 20px $color-white,
          0 0 20px $brandColor;

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          height: 0.5rem;
          aspect-ratio: 1/1;
          border: 1px solid white;
          border-radius: 1px;
          transition: all 0.3s ease;
        }

        &::before {
          left: 20%;

          transform: translate(-50%, -50%) rotate(20deg);
        }

        &::after {
          right: 20%;

          transform: translate(-50%, -50%) rotate(60deg);
        }
      }
    }
  }
}

.cardD__PlanWise {
  $brandName: PlanWise;
  $brandColor: #0096ff;
  $hue: 327;

  @include projectCardCustom($brandName, $brandColor, $hue);
}

.cardD__TeeFusion {
  $brandName: TeeFusion;
  $brandColor: #efbd48;
  $hue: 327;

  @include projectCardCustom($brandName, $brandColor, $hue);
}

.cardD__Forkify {
  $brandName: Forkify;
  $brandColor: #ff922b;
  $hue: 327;

  @include projectCardCustom($brandName, $brandColor, $hue);
}

.cardD__Catalyst {
  $brandName: Catalyst;
  $brandColor: #55c57a;
  $hue: 132;

  @include projectCardCustom($brandName, $brandColor, $hue);
}
