.footer {
  background-color: $color-black;

  &__link {
    &:link,
    &visited {
      text-transform: lowercase;
      font-size: 1.4rem;
      font-weight: 300;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  &__block {
    display: flex;
    justify-content: center;
    padding: $space-s 0;

    &:last-child {
      justify-content: space-between;

      & > .footer__block--copyright > p {
        font-size: $font-body-desktop;
        @include respond(laptop) {
          font-size: $font-body-laptop;
        }
        @include respond(tab-land) {
          font-size: $font-body-tab-land;
        }
        @include respond(tab-port) {
          font-size: $font-body-tab-port;
        }
        @include respond(phone) {
          font-size: $font-body-phone;
        }
        color: rgba($color-white, 0.6);
      }

      & > .footer__block--icons > a {
        margin-right: 1rem;
        color: rgba($color-white, 0.6);
        font-size: 2rem;
        @include respond(laptop) {
          font-size: 2.2rem;
        }
        @include respond(tab-land) {
          font-size: 2.4rem;
        }
        @include respond(tab-port) {
          font-size: 2.6rem;
        }
        @include respond(phone) {
          font-size: 2.8rem;
        }
      }
    }

    & > div {
      display: flex;
      align-items: center;
    }
  }
}
