// HERO
.hero-section {
  background-color: $color-primary;
}

.hero {
  background-size: cover;
  position: relative;
  height: 100vh;

  &__mask {
    @include mask("../img/bg.jpg");
  }

  &__wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $space-xl;
  }

  &__heading {
    position: sticky;
    @include centeritem;
    margin-bottom: $space-m-s;
    text-align: center;
    max-width: 100rem;
    padding: $space-xl 0;
  }

  &__btnbox {
    .btn__specialWrapper {
      display: flex;
      @include respond(tab-port) {
        flex-direction: column;
      }
    }
  }

  &__info {
    background-color: pink;
    border-radius: 50%;

    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

// Section-about
.section-about {
  margin-bottom: $margin-btm-desktop;
  position: relative;
  border-bottom: 1px solid rgba($color-white, 0.4);
  height: 100vh;
  &__contentbox {
    display: flex;
    height: 100%;

    @include respond(tab-port) {
      flex-direction: column;
      gap: 4rem;
    }

    &--infobox {
      @include v-centeritem;
      width: 60%;

      @include respond(tab-port) {
        width: 100%;
        // height: 100vh;
      }
    }

    &--imgbox {
      overflow: hidden;

      @include respond(tab-port) {
        width: 100%;
      }

      & > picture > img {
        width: 100%;

        @include respond(tab-land) {
          height: 100vh;
          width: auto;
        }

        @include respond(tab-port) {
          height: auto;
          width: 100%;
        }
      }
    }

    &--info {
      color: $color-grey-light-3;
      font-size: $font-body-desktop;

      @include respond(laptop) {
        font-size: $font-body-laptop;
      }
      @include respond(tab-land) {
        font-size: $font-body-tab-land;
      }
      // @include respond(phone) {
      //   font-size: $font-body-phone;
      // }
      @include respond(phone) {
        font-size: $font-body-phone;
      }
      line-height: 1.8;

      & span {
        color: $color-white;
      }

      &--skills {
        display: flex;
        gap: 1rem;
      }
    }
  }
}

.author-img {
  max-width: 100%;
  height: auto;
}

.info-wrapper {
  gap: 4rem;
  display: flex;
  flex-direction: column;
}

// NAVIGATION
.link {
  &:link,
  &:visited {
    color: $color-white;
    text-decoration: none;
    position: relative;
    letter-spacing: 1px;
    text-transform: uppercase;

    font-weight: 600;

    font-size: $font-link-desktop;
    @include respond(laptop) {
      font-size: $font-link-laptop;
    }
    @include respond(tab-land) {
      font-size: $font-link-tab-land;
    }
    @include respond(tab-port) {
      font-size: $font-link-tab-port;
    }
    @include respond(phone) {
      font-size: $font-link-phone;
    }

    @include respond(tab-port) {
      font-size: 3rem;
      color: rgb(199 208 229);
    }
  }
}
.logo {
  font-size: 3rem;
}

.sticky {
  position: fixed;

  &-bg {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.header {
  display: grid;
  z-index: 10;
  width: 100vw;
  position: fixed;
  padding: 2rem 0;
}

.nav {
  display: grid;
  width: 100%;
  border-radius: 20rem;
  padding: 1rem 3rem;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
  transition: all 0.3s;

  &__logo {
    text-align: center;
  }

  &__links {
    display: flex;
    list-style: none;
    align-items: center;

    @include respond(tab-port) {
      background-color: rgba(0, 0, 0, 0.9);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: -100%;

      display: flex;
      flex-direction: column;

      align-items: center;
      justify-content: center;

      gap: 6rem;

      opacity: 0;
      pointer-events: none;
      visibility: hidden;

      transition: all 0.5s;
    }
  }

  

  &__item {
    justify-self: end;
    margin-right: 4rem;

    &-1 {
      margin-right: 0;
      @include respond(tab-port) {
        display: none;
      }
    }

    &-2 {
      display: none;
      margin-right: 0;
      @include respond(tab-port) {
        display: block;
      }
    }
  }

  &__link {
    &::before {
      content: " ";
      width: 0;
      height: 0.25rem;

      background: radial-gradient(closest-side, $color-white, transparent);

      position: absolute;
      top: 120%;
      left: 50%;

      transition: all 0.3s;
    }

    &:link,
    &:visited {
      display: block;
      transition: all 0.1s;
    }

    &:hover {
      &::before {
        width: 100%;
        left: 0;

        background: radial-gradient(closest-side, $color-white, transparent);
      }
    }
  }
}

// RESPONSIVE Mobile nav
.btn-nav-mobile {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;

  &-box {
    display: none;

    @include respond(tab-port) {
      display: block;
    }
  }
}

.icon-nav {
  color: $color-white;
  height: auto;
  aspect-ratio: 1/1;
  display: block;
  font-size: 2.6rem;

  &[name="icon-close"] {
    display: none;
  }
}

.nav {
  &__open &__links {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    left: 0;
  }

  &__open {
    & .icon-nav[name="icon-close"] {
      display: block;
    }

    & .icon-nav[name="icon-open"] {
      display: none;
    }
  }
}
