// HERO
.hero-section {
  background-image: url(../img/Untitled\ design.svg);
}

.hero {
  background-size: cover;
  position: relative;
  height: 100vh;

  &__mask {
    @include mask("../img/bg.jpg");
  }

  &__wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $space-xl;
  }

  &__heading {
    position: sticky;
    @include centeritem;
    margin-bottom: $space-m-s;
    text-align: center;
    max-width: 100rem;
    padding: $space-xl 0;
  }

  &__btnbox {
    .btn__specialWrapper {
      display: flex;
      @include respond(phone) {
        flex-direction: column;
      }
    }
  }

  &__info {
    background-color: pink;
    border-radius: 50%;

    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

// Section-about
.section-about {
  height: 100vh;
  margin-bottom: 20rem;
  position: relative;
  border-bottom: 1px solid rgba($color-white, 0.4);

  // @include respond(tab-port) {
  //   height: 200vh;
  // }

  &__contentbox {
    display: flex;
    height: 100%;

    @include respond(tab-port) {
      flex-direction: column;
      gap: 10rem;
    }

    &--infobox {
      @include v-centeritem;
      width: 60%;

      @include respond(tab-port) {
        width: 100%;
        // height: 100vh;
      }
    }

    &--imgbox {
      overflow: hidden;
      width: 40%;

      @include respond(tab-port) {
        width: 100%;
        height: 100vh;
      }

      & > img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }

    &--info {
      color: $color-grey-light-3;
      font-size: 1.6rem;
      line-height: 1.8;
      margin-bottom: $space-m-s;
      & span {
        color: $color-white;
      }

      &--skills {
        display: flex;
        gap: 1rem;
      }
    }
  }
}

.author-img {
  max-width: 100%;
  height: auto;
}

.info-wrapper {
  // @include custom-wrapper-mixin($width-70);
  // @include centeritem;

  gap: $space-xl;
  display: flex;
  flex-direction: column;
}

// NAVIGATION
.link {
  &:link,
  &:visited {
    color: $color-white;
    text-decoration: none;
    position: relative;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 400;

    // @include respond(laptop) {
    //   font-size: 1rem;
    // }
  }
}
.logo {
  font-size: 3rem;
}

.sticky {
  position: fixed;

  &-bg {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.header {
  display: grid;
  z-index: 544546543543;
  width: 100vw;
  position: fixed;
  padding: 2rem 0;
}

.nav {
  display: grid;
  width: 100%;
  border-radius: 20rem;
  padding: 1rem 3rem;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
  transition: all 0.3s;
  &__logo {
    text-align: center;
  }

  &__links {
    display: flex;
    list-style: none;
    align-items: center;

    @include respond(tab-land) {
      background-color: transparent;
      position: absolute;
      // width: 100vw;
      // height: 100vh;
      top: 100%;
      left: 0;

      display: flex;
      flex-direction: column;

      align-items: center;
      // justify-content: center;

      gap: 4rem;
    }
  }

  &__item {
    justify-self: end;
    margin-right: 4rem;
    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    &::before {
      content: " ";
      width: 0;
      height: 0.25rem;

      background: radial-gradient(closest-side, $color-white, transparent);

      position: absolute;
      top: 120%;
      left: 50%;

      transition: all 0.3s;
    }

    &:link,
    &:visited {
      display: block;
      transition: all 0.1s;
    }

    &:hover {
      &::before {
        width: 100%;
        left: 0;

        background: radial-gradient(closest-side, $color-white, transparent);
      }
    }
  }
}
