.gallery {
  // text-align: center;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}

.container {
  width: 100%;
}

.swiper {
  width: 100%;
  padding: 50px 0;

  &-button-next,
  &-button-prev {
    color: white;

    @include respond(tab-port) {
      display: none;
    }
  }

  &-wrapper {
    width: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    filter: grayscale(100%) brightness(80%);
    transition: all 0.3s ease-in;
  }
}

.swiper-slide {
  position: relative;
  width: 200px;
  height: 500px;
  border-radius: 12px;
  overflow: hidden;
  transition: 1s;
  user-select: none;

  @include respond(tab-port) {
    width: 100px;
    height: 300px;
    // margin-right: ;
  }

  &-active {
    position: relative;
    width: 400px;
    transition: 1s;

    @include respond(tab-port) {
      width: 200px;
    }
  }
}

.swiper-slide p {
  position: absolute;
  left: 20px;
  bottom: 10px;
  color: white;
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 1.4px;
  z-index: 2;
  transition: 0.8s;
  opacity: 0;
}

.swiper-slide-active::after {
  background-color: rgba(123, 123, 123, 0.4);
}

.swiper-slide-active img {
  transform: scale(1.3);
  object-position: 50% 0%;
}

.swiper-slide-active p {
  opacity: 1;
}

/* swiper-pagination */

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: wheat;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;

  @include respond(tab-port) {
    width: 10px;
    height: 10px;
  }
}

.swiper-pagination-bullet-active {
  width: 32px;
  border-radius: 14px;
  background-color: $color-white;
}
